body {
	background-color: #01304b;
	color: #eee;
	font-family: Arial, Helvetica, sans-serif;
}
/*h1 {
	color: #eee;
}
h2 {
	color: #eee;
}
h3 {
	color: #eee;
}*/
a {
	color: #c3b802;
}

li {
	color: #eee;
	margin-bottom: 10px;
}

/*label {
	color: #eee;
}*/

